body {
  font-family: Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f5f5f5; /*#FF75BAã€€#f6e5f7*/
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1, h2, h3 {
  font-weight: normal;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.form {
  margin: 50px auto;
  width: 200px;
  padding: 20px;
  border: 4px solid grey;
}

.form input {
  margin-bottom: 10px;
}

.form select {
  margin-bottom: 10px;
}

.usern-shower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
  margin-right: 70px;
  padding: 0.5rem 1rem;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  width: 220px;
  height: 1.2em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.unauthorized div {
  cursor: default;
}

.usern-span {
  white-space: nowrap;
  overflow: hidden;         /* hide overflow */
  text-overflow: ellipsis;  /* show ... at end */
  max-width: 195px;
}

.dropdown {
      position: relative;
      display: inline-block;
    }

.dropdown-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 180px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 220px;
  border: 1px solid #ccc;
  z-index: 1;
  border-radius: 6px;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;         /* hide overflow */
  text-overflow: ellipsis;  /* show ... at end */
}

.dropdown.show .dropdown-content {
  display: block;
}

.dropdown-content div {
  padding: 8px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f0f0f0;
}

/*clones kinda*/

.usern-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 250px;
  border: 1px solid #ccc;
  z-index: 1;
  border-radius: 6px;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;         /* hide overflow */
  text-overflow: ellipsis;  /* show ... at end */
}

.dropdown.show .usern-dropdown-content {
  display: block;
}

.usern-dropdown-content div {
  padding: 8px;
  cursor: pointer;
}

.usern-dropdown-content div:hover {
  background-color: #f0f0f0;
}
